name: CLI

on:
  push:
    paths: ['cli/**']
  pull_request:
    paths: ['cli/**']

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-nix-env

      - name: Run CLI quality checks
        run: dap check --scope cli